# Ignore all files in the node_modules directory
node_modules/

# Ignore all files with a .md extension
*.md

# Ignore a specific file
config.js

# Ignore all files in the build directory
build/

# Ignore all files in the src/temp directory
src/temp/
src/dist/*.min.css