.container {
  max-width: 1140px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.mh-100 {
  min-height: 100vh;
}

.m-auto {
  margin: 0 auto;
}

.col-1 {
  width: $col-1;
  padding: 0 15px;
}

.col-2 {
  width: $col-2;
  padding: 0 15px;
}

.col-3 {
  width: $col-3;
  padding: 0 15px;
}

.col-4 {
  width: $col-4;
  padding: 0 15px;
}

.col-5 {
  width: $col-5;
  padding: 0 15px;
}

.col-6 {
  width: $col-6;
  padding: 0 15px;
}

.col-7 {
  width: $col-7;
  padding: 0 15px;
}

.col-8 {
  width: $col-8;
  padding: 0 15px;
}

.col-9 {
  width: $col-9;
  padding: 0 15px;
}

.col-10 {
  width: $col-10;
  padding: 0 15px;
}

.col-11 {
  width: $col-11;
  padding: 0 15px;
}

.col-12 {
  width: $col-12;
  padding: 0 15px;
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
